body, html {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}
* {
    padding: 0;
    margin: 0;
}
#myvid {
    z-index: 0;

}


nav {
    flex-grow: 1;
    min-width: 200px;
    height: 100vh;
    background: #F15A24;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
    z-index: 10;
    float:left;
    position: relative;
    text-align: center;
}
nav p {
    font-family: source-code-pro, monospace;
    font-size: 1.5vh;
    font-weight: 400;
    bottom:0;
    color: white;
    position: absolute;
}
nav a {
    color: white;
}
a {
    text-decoration: none;
    transition: 1s;
    color: #F15A24;
}
a:current {
    text-decoration: underline;
    color: white;
}
nav li:hover {
    transform: scale(1.2,1.2);
    transition: 1s;
}
nav li {
    transition: 1s;
}
nav a:visited {
    color: white;
    text-decoration: none;
}
.container {
    height: 100vh;
    float: right;
    position: relative;
    justify-content: center;
    align-items: center;
}
.content {
    background: #d9d9d9;
    border-radius: 25px;
    height: 90%;
    width: 67%;
    position: absolute;
    margin-top: 2.9%;
    margin-left: 17%;
    visibility: hidden;
    animation: reveal .1s forwards;
    animation-delay: 10s;
    overflow: hidden;
}
.content-work {
    background: #d9d9d9;
    border-radius: 25px;
    height: 90%;
    width: 67%;
    position: absolute;
    margin-top: 2.9%;
    margin-left: 17%;
    overflow: hidden;
    float: left;
}
.content-work h1 {
    color: #F15A24;
    font-size: 10vh;
    font-family: source-code-pro, monospace;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    margin-top: 3%;
    margin-left: 26%;
    z-index: 1000;
}
.content-work h2 {
    color: white;
    font-size: 4vh;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    margin-top: 51%;
    margin-left: 30%;
    z-index: 1000;

}
.content-work p {
    color: #676767;
    font-size: 2vh;
    font-family: source-code-pro, monospace;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    margin-top: 56%;
    margin-left: 30%;
    z-index: 1000;
    width: 65%;

}

.background {
    z-index: 0;
}
@keyframes reveal {
    0% {visibility:hidden;}
    100% {visibility: visible;}
}
.logo {
    width: 75%;
    max-width: 300px;
    margin: auto;
    display: block;
    margin-top: 10vh; !important;

}
.logo-home {
    width: 75%;
    max-width: 300px;
    margin: auto;
    display: block;
    margin-top: 40vh; !important;
    animation: logo 2s forwards;
    animation-delay:9s;
}
@keyframes logo {
    0% {margin-top: 40vh;}
    100% {margin-top: 10vh;}
}

.menu {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: left;
    display: inline-block;
    list-style-type: none;
    margin-top: 100px;
}


.menu-home {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: left;
    display: inline-block;
    list-style-type: none;
    margin-top: 100px;
    animation: fade1 2s forwards;
    opacity: 0;
    animation-delay: 10s;
}
@keyframes fade1 {
    0% {opacity: 0;}
    100% {opacity: 1;}

}
.work {
    animation: bulge 1s alternate infinite;
    transform-origin: left;
}
@keyframes bulge {
    0% {transform: scale(1,1);}
    100% {transform: scale(1.2,1.2);}
}

#wheel {

    width: 700px;
    height:9vh;
    overflow: hidden;
    display: inline-block;
}
.flip {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 7vh;
    color: white;
    animation: slide-in  4s forwards;
    animation-delay: 11s;
    opacity: 0;
}

@keyframes slide-in {
    from {margin-top: -100vh; opacity:0;}
    to {margin-top: -3vh; opacity:1;}
}
#box {
    width: 700px;
    margin-top: 30%;
    margin-left: 28%;
    overflow: hidden;
    animation: wipe 2s forwards cubic-bezier(1, 0, 0, 1);
    animation-delay: 16s;
    position: absolute;
    z-index: 100;
}
@keyframes wipe {
    0% {padding-left: 0px; visibility: visible;}
    100% {padding-left: 1000px; visibility: hidden;}

}
.brand {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 7vh;
    color: #F15A24;
    animation: brand 2s forwards;
    animation-delay: 11s;
    opacity: 0;
}
@keyframes brand {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.about-content {
    float: left;
    width: 100%;
    height: 100%;
    animation: fade2 2s forwards;
    animation-delay: 17s;
    opacity: 0;
    transition: 2s;
    z-index: 100;
    right: 1px;
}
@keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.about-content-home {
    float: left;
    width: 100%;
    height: 100%;
    transition: 2s;
    z-index: 100;
    right: 1px;
}
.about-text {
    font-family: source-code-pro, monospace;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    margin-top: 8%;
    margin-left: 10%;
    width: 40%;
    height: 100%;
    z-index: 100;
}
.about-text h1 {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #F15A24;
    font-size: 10vh;
    margin:0;
}
.about-text p {
    color: #676767;
    font-size: 3vh;
    font-weight: 400;
    line-height: 1.25;
    margin:30% 0 0 0;
    width: 100%;
}
.spotify {
    margin-top: 40%;
}
.nathan {
    width: 31%;
    height: 60%;
    margin-left: 57%;
    margin-top: 12%;
    position: absolute;
    background: url("img/little_nathan2.png") ;
    background-size: 100% 100%;
    animation: dissolve 2s forwards;
    animation-delay: 20s;
    z-index: 101;
}
@keyframes dissolve {
    0% {background: url("img/little_nathan2.png"); background-size: 100% 100%;}
    100% {background: url("img/big_nathan.png"); background-size: 100% 100%;}
}
.nathan-home {
    width: 31%;
    height: 60%;
    margin-left: 57%;
    margin-top: 12%;
    position: absolute;
    background: url("img/little_nathan2.png") ;
    background-size: 100% 100%;
    animation: dissolve2 2s forwards;
    animation-delay: 3s;
    z-index: 101;
}
@keyframes dissolve2 {
    0% {background: url("img/little_nathan2.png"); background-size: 100% 100%;}
    100% {background: url("img/big_nathan.png"); background-size: 100% 100%;}

}
.view-work {
    width: 200px;
    height: 75px;
    background: #F15A24;
    color: white;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 42%;
    margin-top: 65%;
    border-radius: 20px;
    border: none;
    z-index: 100;
}
.submenu {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vh;
    color: #F15A24;
    margin-left: 5%;
    margin-top: 12%;
    z-index: 100;
    list-style-type: none;
    border-left: solid 3px;
    padding-left:10px;
    width: 12%;
    position: absolute;
}
.submenu li {
    color: #F15A24;
}
.submenu li:hover {
    transform: scale(1.2,1.2);
    transition: 1s;
    color:white;
}
.submenu li {
    transition: 1s;
    transform-origin: left;
}
.submenu a:visited {
    color: #F15A24;
}
.backdrop {
    background: white;
    border-radius: 20px;
    width: 62%;
    height: 51%;
    position: absolute;
    margin-left: 29%;
    margin-top: -39.5%;
    z-index: 0; !important;

}
.mc {
    position: absolute;
    width: 90%;
    height: 30%;
    border-radius: 20px;
    color: black;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-size: 6vh;
    text-align: center;
    transition: 1s;
    transform-origin: left;
}
.mc h1 {
    color: black;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 6vh;
    margin-top: 12%;
    margin-left: 3%;
}
.mc:hover {
    transform: scale(1.05,1.05);
    transition: 1s;
}
.overflow {
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin-left: 23%;
    margin-top: 13%;
    position:absolute;

}
.overflow-child {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 3%;
    position:absolute;
}
.scroll {
    position: absolute;
    margin-top: 58%;
    margin-left: 19%;
    width: 7%;
}
.wrap {
    width: 70%;
    height: 60%;
    padding: 0;
    /*overflow: hidden;*/
    margin-left: 26%;
    margin-top: 12%;
}
.scaled-frame { width: 1500px; height: 2000px; border: 0px; }

.scaled-frame {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.scaled-frame  { zoom: 1;  }
}

.flickr {
    border-radius: 20px;
    margin-left: 26%;
    margin-top: 10%;
    width: 62%;
    height: 51%;
    position: absolute;
}